.navbar{
  background-color: #292d33;
  height: 50px;
  position: relative;
}

.logo {
  border: 1px solid white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 7px;
  display: inline-block;
  position: absolute;
}

.search {
  background-color: #394351;
  border-color: #394351;
  color: white;
  margin-top: 7px;
  margin-left: 150px;
  position: absolute;
  height: 30px;
}

.navbar-links{
  position: relative;
  margin-left: 300px;
  line-height: 300%;
}

.navbar-link{
  color: #a2a9b2;
  margin-top: 15px;
  margin-right: 10px;
}

.navbar-profile{
  /* Why won't section box just go into the nav? */
  height: 45px;
  width: 135px;
  border: 1px solid blue;
  float: right;
}

.browse{
  margin-top: 35px;
  width: 60%;
  height: 35px;
  float: left;
  position: relative;
  border-bottom: 1px solid grey;
}

.activities{
  text-align: center;
  width: 50%;
  display: inline-block;
  float: left;
}

.discover{
  text-align: center;
  width: 50%;
  display: inline-block;
}

.contributions{
  margin-top: 35px;
  width: 30%;
  height: 500px;
  float: right;
}